/*------WebPage Comp Format-------*/
html {
    display: flex;
}

body {
    background-image: url("assets/burger-friends.jpg");
    background-size: cover;
    background-attachment: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0px;
    height: 100vh;
    width:100%;
}

h1 {
    font-family: 'Roboto', sans-serif;
    background-color: #0fb9b1;
    margin: 0px;
    height: 35px;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    padding: 17px;
}

.white-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    height: 300px;
    margin: 160px;
}

.left-white-box {
    background-color: rgba(225, 225, 225, .9);
    /* border: 10px solid blue; */
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

h2 {
    font-family: 'Roboto', sans-serif;
    margin: 10px 30px;
}

span {
    color: #ee5253;
}

.radio-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: none;
    margin: 5px 15px;
    padding: none;
}

label {
    display: flex;
    flex-direction: row;
    padding: 8px;
}

button {
    margin: 5px 35px;
    background-color: #0fb9b1;
    border-radius: 5px;
    width: 40%;
    border: none;
    padding: 5px 10px;
}

.right-white-box {
    background-color: rgba(225, 225, 225, .9);
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div > img {
    height: 150px;
    filter: opacity(0.5);
}

div > h1 {
    background-color: initial;
    font-style: italic;
    padding: 0px;
    margin: 0px;
}

.hidden {
    display: none;
}

/*-----------------------------------*/
